*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
# custom added
images/
.idea/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
